# Ignore virtual environments
venv/
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Streamlit cache
.streamlit/

# OS artifacts
.DS_Store
Thumbs.db
